[project]
	description = Implement an algorithm to find the maximal subgraphs that recur at regular time period in a dynamic networks G for time T over a vertex set with uniquely labeled vertices. A maximal periodic subgraph means that it cannot be enriched by adding edges or expanding temporal span without losing support. The implementation is based on a hash table from a subgraph to a list of descriptors, a list containing the subgraph at period p with phase m and a matrix containing the list heads for different periods and phases. The time complexity is O((V+E)T^2 and the space complexity is O((V+E)T).
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Liujingfang1
[access "refs/for/refs/*"]
	read = group user/Liujingfang1
	push = group user/Liujingfang1
	label-Code-Review = -2..+2 group user/Liujingfang1
	label-Verified = -1..+1 group user/Liujingfang1
	rebase = group user/Liujingfang1
	removeReviewer = group user/Liujingfang1
	submit = group user/Liujingfang1
[access "refs/heads/*"]
	read = group user/Liujingfang1
	create = group user/Liujingfang1
	push = +force group user/Liujingfang1
	pushMerge = group user/Liujingfang1
[access "refs/tags/*"]
	push = group user/Liujingfang1
	push = +force group user/Liujingfang1
